* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #84cce8;
    /* text-align: center;     */
}

.main {
    position: relative;
    top: 9em;
    left: 25em;
}

h3 {

    text-align: center;
    margin-bottom: 20px;
    width: 33em;
    border-bottom: 2px solid black;
}

span {
    margin-left: 9em;
    /* border: 2px solid red; */
    position: absolute;
}

h1 {
    text-align: center;
    border-bottom: 2px dashed black;
    width: 19em;
}

.opt {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px dotted black;
    border-top: 2px dotted black;
    width: 12.5em;
    padding: 7px;
    display: inline-block;
    /* margin-left: 40px; */
}

.opt:hover {
    background-color: #fff;
    /* cursor: auto; */
}

button {
    margin-left: 27em;
    border: none;

}

input {
    margin-left: 30px;

}

input[type='radio'] {
    width: 20px;
    height: 20px;
}

#modal {
    position: absolute;
    top: 20%;
    left: 25%;
}