* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#again {
    text-align: left;
    position: absolute;
    padding: 20px;
    top: 30px;
    left: 60px;
}

#mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

.bgc {
    animation-name: bgc;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: rgb(179, 40, 47);
    background: linear-gradient(100deg, rgba(179, 40, 47, 1) 0%, rgba(178, 110, 135, 1) 77%);
}

@keyframes bgc {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 2700px;
    }
}

#subMain {
    text-align: center;
    width: 100%;
    margin: 100px;
    height: 100vh;
    font-size: 30px;
}

.middleText {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input {
    width: 120px;
    height: 100px;
    background-color: unset;
    border: none;
    border: 2px solid wheat;
    color: white;
    font-size: 30px;
    text-align: center;
    overflow: unset;
}

#button {
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}

.markq {
    background-color: whitesmoke;
    color: black;
    padding: 7px 15px;
    line-height: 200px;
    font-weight: bolder;
    font-size: 40px;
}

.score {
    font-size: 30px;
}